<!--polls/index.html-->
{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ block.super }} {{ title }}
{% endblock title %}

{% block content %}
  <h1>Eggplant polls</h1>
  <p>
    <ul class="list-group">
        <li class="list-group-item">
          <a href="{% url 'polls:question_list' %}">
            Poll questions</a>
        </li>

        <li class="list-group-item">
          <a href="{% url 'polls:question_list_recent' %}">
            Poll questions recent</a>
        </li>
      </ul>
  </p>
  <div class="row">
    <div class="col-md-2 offset-md-4">
      <img src="{% static 'polls/pumpkin.jpg' %}" alt="pumpkin"
       class="img-fluid" width="100%" height=auto>
    </div>
    <div class="col-md-2">
      <img src="{% static 'polls/owl.jpg' %}" alt="pumpkin"
       class="img-fluid" width="100%" height=auto>
    </div>
  </div>
{% endblock content %}