<!--polls/index.html-->
{% extends "base.html" %}

{% block title %}
  {{ block.super }} {{ title }}
{% endblock title %}

{% block content %}
  
  {% if question %}
  <h1>Question {{ question.id }}:</h1>

  <p>
    <h3>{{ question.question_text}}</h3>
  </p>

  <p>
    <h2>Choices</h2>
    <ul class="list-group">
        {% for item in question.choice_set.all %}
        <li class="list-group-item">
            {{ item.choice_text }}
        </li>
        {% empty %}
        <li class="list-group-item">No choices in this question.</li>
        {% endfor %}
    </ul>
    </p>
  {% endif %}

  <p>
  <!--back to main listing-->
  <a 
    class="btn btn-primary"
    href="{% url 'polls:question_list' %}"
  >
    Back to questions
  </a>
  <!-- if there are choices -->
  {% if question.choice_set.count > 0 %}
  <a 
    class="btn btn-primary"
    href="{% url 'polls:question_vote' question.id %}"
  >
    I want to vote
  </a>
  {% endif %}
  </p>
{% endblock content %}