<!--polls/index.html-->
{% extends "base.html" %}

{% block title %}
  {{ block.super }} {{ title }}
{% endblock title %}

{% block content %}
  <h1>Poll question</h1>

  <p>Number of questions: {{ latest_question_list.count }}</p>

  {% if latest_question_list %}
    <ul class="list-group">
        {% for question in latest_question_list %}
            <li class="list-group-item mt-3">
              {{ question.question_text }}
              <div class="d-flex-inline">
              <a href="{% url 'polls:question_detail' question.id %}"
                class="btn btn-info">
                View detail      
              </a>
              <a href="{% url 'polls:question_vote' question.id %}"
                class="btn btn-primary">
                I want to vote      
              </a>
              </div>
              
            </li>
        {% endfor %}
    </ul>
  {% else %}
    <p>No poll questions are available.</p>
  {% endif %}
{% endblock content %}